* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #BEC3C6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    font-size: 150%;
    padding: 30px 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('../images/milky.jpg');
    background-size:cover
}
header h1 {
    color:#BEC3C6;
}
header a {
    color: #BEC3C6;
}

header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 140%
  }
  header nav ul li a {
    padding: 10px 15px;
    font-size: 120%;
    color: #BEC3C6;
  }



  .section-title {
    font-size: 48px;
    padding-bottom: 20px;
    color: #131E61;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  border-bottom: 3px solid #131E61;
  }

.selfie {
    width: 380px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto
}
.selfie img{
  width: 80%;
  height: auto;
}
